@keyframes faded-xy-slide {
  0% {
    background-color: var(--color-gray-100);
    opacity: 1;
    transform: translate(8px, 8px);
  }
  100% {
    background-color: var(--color-white);
    opacity: 0.5;
    transform: translate(12px, 12px);
  }
}

.floatedUnderlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(8px, 8px);
  opacity: 1;
	animation: 3s faded-xy-slide ease-in infinite alternate-reverse both;
}