@import "tailwindcss";

:root {
  --bg-primary: var(--color-white);
  --text-primary: var(--color-black);
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.text-primary {
  color: var(--text-primary);
}

.animate-isometric-float {
  background-color: var(--color-gray-100);
  animation: 1.5s isometric-float ease-in-out infinite alternate-reverse both;
}

@keyframes isometric-float {
  0% {
    background-color: var(--color-gray-100);
    transform: translate(var(--isometric-float-min), var(--isometric-float-min));
  }
  100% {
    background-color: var(--color-white);
    transform: translate(var(--isometric-float-max), var(--isometric-float-max));
  }
}