@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: theme('colors.stone.50');
  --text-primary: theme('colors.stone.800');
  --border-color-primary: theme('borderColor.DEFAULT')
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.text-primary {
  color: var(--text-primary);
}

.animate-isometric-float {
  background-color: theme('colors.stone.100');
  animation: 1.5s isometric-float ease-in-out infinite alternate-reverse both;
}

@keyframes isometric-float {
  0% {
    background-color: theme('colors.stone.100');
    transform: translate(var(--isometric-float-min), var(--isometric-float-min));
  }
  100% {
    background-color: var(--bg-primary);
    transform: translate(var(--isometric-float-max), var(--isometric-float-max));
  }
}
